* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    text-align: center;
}

.frame {
    margin: 0px;
    width: 100%;
    height: 200px;
    border: 10px solid grey;
    background-color: #9cada4;
    color: white;
    letter-spacing: 4px;
    text-align: center;
}

h1 {
    width: 100%;
    margin: 0 auto 0 auto;
    padding-top: 40px;
}

nav {
    border: 5px solid grey;
    background-color: #9cada4;
}

.ul- {
    padding-top: 50px;
    list-style: none;
}

.li- {
    position: relative;
    bottom: 50px;
    float: right;
}

.a-1 {
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
    background-color: #9cada4;
}

.a-1:hover {
    color: grey;
}

.frame-mid {
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    height: 300px;
    border: 10px solid #9cada4;
    background-color: grey;
    text-align: center;
    letter-spacing: 3px;
    color: white;
}

hr {
    margin-top: 50px;
}

ul {
    list-style: none;
}

h2 {
    width: 100%;
    margin: 0 auto 0 auto;
    padding-top: 40px;
}

.links {
    text-decoration: none;
    color: white;
}

.links:hover {
    text-decoration: none;
    color: #9cada4;
}

.frame-bottom {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    border: 10px solid grey;
    background-color: #9cada4;
    text-align: center;
    letter-spacing: 3px;
    color: white;
}

.link-h {
    width: 100%;
    text-decoration: none;
    color: white;
}

.link-h:hover {
    text-decoration: none;
    color: grey;
}

.frame-img {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 300px;
    border: 10px solid #9cada4;
    background-color: grey;
    text-align: center;
    letter-spacing: 3px;
    color: white;
}

img {
    position: absolute;
    top: 50px;
    border-radius: 50%;
}

.frame-bottomh {
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background-color: #9cada4;
    border-style: solid 3px grey;
    text-align: center;
    letter-spacing: 3px;
    color: white;
}

.links {
    position: relative;
    top: 100px;
    text-decoration: none;
    color: white;
}

.links:hover {
    color: #9cada4;
}

.btn {
    margin-top: 100px;
    position: relative;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    background-color: grey;
}

.link-h {
    background: linear-gradient(0deg, #9cada4 0%, #9cada4 100%);
    width: 200px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border: none;
}

.link-h span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn:before,
.btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: grey;
    transition: all 0.7s ease;
}

.btn:before {
    height: 0%;
    width: 2px;
}

.btn:after {
    width: 0%;
    height: 2px;
}

.btn:hover {
    background: rgb(255, 255, 255);
    box-shadow: none;
    transition: all 0.6s ease;
}

.btn:hover:before {
    height: 100%;
}

.btn:hover:after {
    width: 100%;
}

.link-h span:hover {
    color: #9cada4;
}

.link-h span:before,
.link-h span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: grey;
    transition: all 0.7s ease;
}

.link-h span:before {
    width: 2px;
    height: 0%;
}

.link-h span:after {
    width: 0%;
    height: 2px;
}

.link-h span:hover:before {
    height: 100%;
}

.link-h span:hover:after {
    width: 100%;
}

.copyright {
    text-align: center;
    color: #9cada4;
}

.contact {
    color: #9cada4;
    text-decoration: none;
}


/*Voor Sizing screen (heb het nu als aantekening zodat ik het continu kan veranderen

@media (min-width: 1024px) {
    body {
        font-size: smaller;
        line-height: 2.50;
    }
}

*/